{{main}}

{{#contentFor "body"}}
  <div class="posts-list">
    {{#each posts}}
      <div class="post-item">
        <a href="/dashboard/edit/{{id}}">
          <span class="post-title">{{title}}</span>
          <span class="post-date">{{format_date createdAt}}</span>
        </a>
      </div>
    {{/each}}
  </div>
{{/contentFor}}
