<div class="posts-list">
  {{#each posts}}
    <a class="post-item" href="/dashboard/edit/{{id}}">
      <span class="post-title">{{title}}</span>
      <span class="post-date">{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>
